<template>
  <div>
    <v-treeview hoverable activatable :items="items" @update:active="onUpdate">
    </v-treeview>
    <!-- v-treeview-node--active primary--text-->
  </div>
</template>
<style src="./lib/taxonomy.css" scoped></style>
<script src="./lib/taxonomy.js"></script> 