<template>
  <v-content>
    <h1 style="margin-top:10px" class="text-center">A propos</h1>
    <section>
      <v-layout
        column
        wrap
        class="my-12"
        style="margin-top:-15px !important;
    margin-bottom:10px !important;"
        align-center
      >
        <v-flex xs12 style="width:100%">
          <v-container grid-list-xl>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-web</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Projet</div>
                  </v-card-title>
                  <v-card-text style="text-align:justify">
                    Ce projet a été réalisé dans le cadre de notre cursus universitaire.
                    <br />Le but de ce dernier est de "crawler" la liste des restaurants de Caen et les données associées à ceux-ci.
                    Nous avons choisi de récupérer les données de tripadvisor.
                    <br />Par la suite, il s'agit de créer un moteur de recherche permettant de parcourir ces données, par une requête textuelle ou par catégorie.
                    <br />C'est ce que nous avons réalisé. L'application web permet de faire une recherche par catégorie ou par texte. les catégories sont une taxonomie de
                    62 taxons, permettant de rechercher efficacement son restaurant favoris. La recherche textuelle recherche dans le nom, l'adresse ou la catégorie.
                    <br />Les données de chaque restaurant récolté sont, s'ils existent : Le nom, l'adresse, le budget, la note, les catégories, les prestations, le téléphone et une image.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-account</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Développeurs</div>
                  </v-card-title>
                  <v-card-text>
                    <Avatar
                      nom="Lucas Gancel"
                      profession="M2 IDC Student"
                      style="margin-bottom:10px"
                    />
                    <Avatar nom="Nicolas Hoffmann" profession="M2 IDC Student" />
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-developer-board</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Technologies</div>
                  </v-card-title>
                  <v-card-text class="text-center">
                    <img src="../../assets/vuetify.png" alt="Vuetify.js" height="100" />
                    <br />
                    <img src="../../assets/vuejs.png" alt="VueJS.js" height="100" />
                    <br />
                    <img src="../../assets/nodejs.png" alt="NodeJS.js" height="100" />
                    <br />
                    <img src="../../assets/solr.png" alt="SolR.js" height="100" />
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>
  </v-content>
</template>
<script src="./lib/About.js"></script>