<template>

  <v-app>
    <v-toolbar style="position:fixed;top:0;width:100%;z-index:5" dense :src="'https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg'">

      <v-toolbar-title @click="goHome()">Caen'Mange-t-on?</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items >
        <v-btn to="/" text>Home</v-btn>
        <v-btn to="/about" text>About</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content style="min-height:calc(100vh - 48px);margin-top:48px" >
      <feedBack/>
      <router-view/>
    </v-content>
  </v-app>
</template>

<style>
.v-btn__content, .v-toolbar__title{
  color:white !important
}
.v-btn--active{
  background-color: #ffffff66 !important
}
.v-toolbar__title{
  cursor: pointer;
}
</style>
<script>
import FeedBack from './components/feedBack/feedBack';

export default {
  name: 'App',
  components: {
    FeedBack
  },
  data: () => ({
    //
  }),
  methods: {
    goHome:function(){
      this.$router.push({ name: "home" });
    }
  },
  
  computed : {
 
  }
};
</script>
