<template>
  <v-content class="fill-height">
    <div style="margin-top:10px" class="text-center">
      <img src="../../assets/logo.png" width="215" height="70" />
    </div>
    <v-container style="padding-top:0">
      <v-row>
        <v-col class="col-3">
          <search v-bind:isButton="false" />
          <taxonomy v-bind:items="categories" />
        </v-col>
        <v-col class="col-9">
          <template v-if="restaurants.length > 0">
            <v-pagination v-model="page" :length="nbPage" total-visible="8" style="margin-bottom:10px"></v-pagination>

            <v-list style="margin-left:5vw; background-color:inherit">
              <restaurantCard
                class="card"
                v-for="(restaurant,key) in restaurants"
                v-bind:item="restaurant"
                v-bind:key="key"
              />
            </v-list>
            <v-pagination v-model="page" :length="nbPage" total-visible="8"></v-pagination>
          </template>
          <div v-else-if="isLoading" class="text-center">
            <ClipLoader color="#00bcd4" style="margin-top:20vh"></ClipLoader>
          </div>
          <div v-else>
            <v-img src="../../assets/search_no_result.png" max-height="70vh"></v-img>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script src="./lib/Query.js">
</script>
<style src="./lib/Query.css" scoped></style>
