<template>
  <v-card class="mx-auto" max-width="434" tile>
    <v-img height="100%" src="../../assets/avatar-background.jpg">
      <v-row align="end" class="fill-height">
        <v-col align-self="start" class="pa-0" cols="12">
          <v-avatar class="profile" size="124" tile>
            <v-img src="../../assets/account.png"></v-img>
          </v-avatar>
        </v-col>
        <v-col class="py-0">
          <v-list-item color="rgba(0, 0, 0, .4)" dark>
            <v-list-item-content>
              <v-list-item-title class="title">{{nom}}</v-list-item-title>
              <v-list-item-subtitle>{{profession}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-col>
      </v-row>
    </v-img>
  </v-card>
</template>
<script src="./lib/avatar.js"></script>