<template>
  <a class="card-link" @click="goTo()">
    <article class="blog-card">
      <img v-if="item.imageLink" class="post-image" :src="item.imageLink" />
      <img v-else class="post-image" :src="require(`@/assets/no-img.png`)" />
      <div class="article-details">
        <template v-if="item.cuisines">
          <h4 class="post-category">
            <template v-if="item.cuisines.length > 0">{{item.cuisines[0]}}</template>
            <template v-if="item.cuisines.length > 1"> - {{item.cuisines[1]}}</template>
          </h4>
        </template>
        <template v-else>
          <h4 class="post-category"></h4>
        </template>

        <template v-if="item.nom">
          <h3 class="post-title">{{ item.nom[0] }}</h3>
        </template>

        <template v-if="item.address">
          <p class="post-description">{{ item.address[0] }}</p>
        </template>

        <p class="post-author">
          <template v-if="item.budget">{{item.budget[0]}}  </template>
          <template v-if="item.budget && item.note"> &nbsp; &middot;  &nbsp;</template>
          <template v-if="item.note">{{item.note[0] | commaNote}}/5 </template>
        </p>
      </div>
    </article>
  </a>
</template>
<style src="./lib/restaurantCard.css" scoped></style>
<script src="./lib/restaurantCard.js"></script> 