<template>
  <v-content>
    <section>
      <v-parallax :src="require('../../assets/back-restaurant.jpg')" height="300">
        <v-layout column align-center justify-center class="white--text">
          <img src="../../assets/vuetify.png" alt="Vuetify.js" height="100" />
          <h1 class="white--text mb-2 display-1 text-center">{{restaurant.nom | inconnu}}</h1>
        </v-layout>
      </v-parallax>
    </section>
    <section>
      <v-layout
        column
        wrap
        class="my-12"
        style="margin-top:24px !important;
    margin-bottom:10px !important;"
        align-center
      >
        <v-flex xs12 style="width:100%">
          <v-container grid-list-xl>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-cash-usd-outline</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Note et Budget</div>
                  </v-card-title>
                  <v-card-text>
                    <div class="text-center subtitle">
                      <h4>Note</h4>
                    </div>
                    <div class="text-center">{{restaurant.note | commaNote}}</div>
                    <div class="text-center subtitle">
                      <h4>Budget</h4>
                    </div>
                    <div class="text-center">{{restaurant.budget | inconnu}}</div>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-silverware</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Prestations</div>
                  </v-card-title>
                  <v-card-text>
                    <div class="text-center subtitle">
                      <h4>Types de cuisine</h4>
                    </div>
                    <div
                      class="text-center"
                      v-for="(cuisine,key) in restaurant.cuisines"
                      v-bind:key="key"
                    >{{cuisine}}</div>
                    <div class="text-center subtitle">
                      <h4>Services</h4>
                    </div>
                    <div
                      class="text-center"
                      v-for="presta in restaurant.prestations"
                      v-bind:key="presta"
                    >{{presta}}</div>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-map-marker</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Contact</div>
                  </v-card-title>
                  <v-card-text>
                    <div class="text-center subtitle">
                      <h4>Adresse</h4>
                    </div>
                    <div class="text-center">{{restaurant.address | inconnu}}</div>
                    <div class="text-center subtitle">
                      <h4>Téléphone</h4>
                    </div>
                    <div class="text-center">{{restaurant.phone | inconnu}}</div>
                    <div v-if="restaurant.address" class="text-center" style="margin-top:15px">
                      <v-btn color="primary" @click="goTo()">
                        <v-icon>mdi-crosshairs-gps</v-icon>Let's Go !
                      </v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>
  </v-content>
</template>

<script src="./lib/Restaurant.js"></script>
<style src="./lib/Restaurant.css" scoped></style>
