<template>
  <v-content class="fill-height">
    <v-container class="fill-height" fluid>
      <v-layout row wrap align-center>
        <v-flex style="margin-top:-10vh">
          <div class="text-center">
            <img src="../../assets/logo.png" width="272" height="92" />
          </div>

          <search style="width:50%; margin:auto; margin-top:3vh"/>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script src="./lib/Home.js"></script>
<style src="./lib/Home.css"></style>
