<template>
  <div>
    <v-text-field
      outlined
      rounded
      prepend-inner-icon="mdi-magnify"
      v-model="searchText"
      v-on:keyup.enter="search"
    ></v-text-field>
    <div class="text-center" v-if="isButton">
      <v-btn rounded outlined style="background-color:#125596" @click="search">Search</v-btn>
    </div>
  </div>
</template>
<style src="./lib/search.css" scoped></style>
<script src="./lib/search.js"></script> 